.App {
  text-align: center;
  /* display: flex; */
  /* flex-direction: column; */
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  font-size: 48px;
  color: white;
  text-align: center;
}
